
.navbar {
    background-color: #dab6d7;
}

button  {
    background-color: #dab6d7;
}

button:hover {
    background-color: #cda0c1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.container {
    background-color: #f3e8f7;
}

.nav-link {
    font-size: 1rem;
    margin: 3px;
}

.rounded {
    border-radius: 50%;
}

.welcome_container {
    background-color: #FFE4AE;
    color: #333;
}